<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>kratos.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>kratos.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <servlet-class>kratos.servlet.BookAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddDoctorServlet</servlet-name>
        <servlet-class>kratos.servlet.AdminAddDoctorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmAppointmentServlet</servlet-name>
        <servlet-class>kratos.servlet.ConfirmAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPrescriptionServlet</servlet-name>
        <servlet-class>kratos.servlet.AddPrescriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>kratos.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveDoctorServlet</servlet-name>
        <servlet-class>kratos.servlet.RemoveDoctorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <url-pattern>/BookAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddDoctorServlet</servlet-name>
        <url-pattern>/AdminAddDoctorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmAppointmentServlet</servlet-name>
        <url-pattern>/ConfirmAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPrescriptionServlet</servlet-name>
        <url-pattern>/AddPrescriptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveDoctorServlet</servlet-name>
        <url-pattern>/RemoveDoctorServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
